<div class="row" id="tools-graph">
        <div class='col-md-12'>
            <i class="icon-check-empty lg"></i>
            <div class='col-md-12 padding-right-zero'>
                <div id="reportrange">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>
                <div class="btn-group" id="container-icon">
                    <a class="btn btn-default" onclick="live_update_graph()" href="#" id="icon_label"><i class="fa fa-spinner" id="spinner"></i><span class="label-live-update">Live update</span></a>
                    <a class="btn btn-default visited"   href="#" onclick="change_options_line()" id="icon_chart_tmp"><i class="fa fa-line-chart"></i></a>
                    <a class="btn btn-default" onclick="change_options_bar()" href="#" id="icon_bar"><i class="fa fa-bar-chart"></i></a>
                </div>
            </div>
         </div>
    </div>
        
    <div class="row">
            <div class='col-md-12'>
                <div id='tab_chart_space'>
                    <div  id="grafici_chart" class="grafici_chart">
                        <h2 class="message_select_date" tkey="select-source-param">Select a tipology, a source, a station to see the relative graph</h2>
                    </div>                            
               </div>
                <br/>
                <img src="{{=URL('static','images/info_sign.png')}}" style="float:left"/><h5 id='title-from-frontend' class="message_select_date" style="float:left;display:inline" tkey="map-serach">Use the mouse for navigate on the map, press left button on the graph for moves and the wheel for zooming</h5>
            </div>
    </div>
    <div class="push"></div>

<script>
    var reload_interval;
    var plot_console;
    url_get_data = '{{=URL("data", "get_data.json")}}'  
    timezoneJS.timezone.zoneFileBasePath = '{{=URL('vtraffic', 'static/js', 'tz')}}';
   

</script>
