<div class="row">
    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; margin-right:15px;border: 1px solid #ccc">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <span></span> <b class="caret"></b>
    </div>
    <div id='select_data' class="col-md-5">{{=LOAD('data','get_stations', ajax=False, vars={'tab':'grafici'})}}</div>
    <a id='loading' class="btn bnt-info col-md-2">Caricamento...</a>
    <a id='empty' class="btn bnt-alert col-md-2">Nessun dato nell'intervallo selezionato</a>
</div>
<div class="container-fluid data-content">
    <div class='row'>
            <div class="col-md-2 panel-group sidebar_grafici sidebar" id='sidebar_grafici'>
            </div>
            <div class='col-md-10' id='chart_space'>
            <div id="grafici_chart"  style="height:370px"> </div>
            </div>
    </div>
</div>
<script>
    $.web2py.trap_form("", 'select_data');
    url_get_data = '{{=URL("data", "get_data.json")}}'
    
    var plot_console = new lplot('grafici_chart', options_console);
    var reload_interval;
    timezoneJS.timezone.zoneFileBasePath = '{{=URL('vtraffic', 'static/js', 'tz')}}';
    var options_console = { 
        xaxis: { 
		    mode: "time", timezone: "Europe/Rome", alignTicksWithAxis:true,
		    dayNames: ['{{=T('Sun')}}', '{{=T('Mon')}}', '{{=T('Tue')}}', '{{=T('Wen')}}', '{{=T('Thu')}}', '{{=T('Fri')}}', '{{=T('Sat')}}'] 
	    },
	    yaxis: { position: 'left', zoomRange: false, panRange: false,},
	    addDynamically: true,
	    series:{ lines: { show: true, fill: false },
			     points: { show: true },
			     bars: {show: false},
	    },
	    crosshair: { mode: "x" },
    }
        
    var date_set = function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        startDate = start;
        endDate = end;
        plot_console.reload_all(startDate.unix(), endDate.unix());
    }
    pickler = $('#reportrange').daterangepicker(datapickler_option, date_set);
    $('#reportrange span').html(startDate.format('MMMM D, YYYY') + ' - ' + endDate.format('MMMM D, YYYY'));
    $("#loading").hide();
    $('#empty').hide();
    $('#grafici_chart').on('loaded', function() {
        //$('#empty').hide();
        $('#loading').fadeOut();
        $('body').css("cursor", "auto");
    });

    $('#grafici_chart').on('empty', function() {
        $("#loading").hide();
        $('#empty').fadeIn();
        $('body').css("cursor", "auto");
    });

    $('#grafici_chart').on('loading', function() {
        $('#empty').hide();
        $('#loading').fadeIn();
        $('body').css("cursor", "progress");
    });
    
    $('#grafici_chart').on('plotted', function() {
        $('#empty').hide();
        $("#loading").hide();
    });

</script>
