{{extend 'layout.html'}}
<div class="map-cont box row-fluid">
    <div class="span9">
    <div id="map" style="height: 500px"></div>
    </div>
    <div class="span3">
    <img src="http://geodata.integreen-life.bz.it/geoserver/edi/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=40&HEIGHT=40&LAYER=edi:cleanroads_stations"/>
    </div>
</div>
<script>
    var map = L.map('map').setView([46.070091, 11.119763], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    var l_cleanroads = L.tileLayer.betterWms("{{=URL('default', 'wms')}}", {
        layers: 'edi:cleanroads_stations',
        transparent: true,
        attribution: "",
        format: 'image/png',
    }).addTo(map);
</script>
