{{extend 'layout.html'}}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="#mappa" aria-controls="mappa" role="tab" data-toggle="tab">Mappa</a></li>
    <li role="presentation"><a href="#punchcard" aria-controls="punchcard" role="tab" data-toggle="tab">Punchcard</a></li>
    <li role="presentation" class="active"><a href="#grafici" aria-controls="punchcard" role="tab" data-toggle="tab">Grafici</a></li>
    <li role="presentation"><a href="#dati" aria-controls="punchcard" role="tab" data-toggle="tab">Dati</a></li>    
  </ul>

  <!-- Tab panes -->
  <div class=" container-fluid box">
  <div class="tab-content row">
      <div role="tabpanel" class="tab-pane container-fluid" id="mappa">
            <div class="map-cont box row">
            <div class="col-md-9">
                <div id="map" style="height: 500px"></div>
            </div>
            <div class="col-md-3">
            <img src="http://geodata.integreen-life.bz.it/geoserver/edi/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=40&HEIGHT=40&LAYER=edi:cleanroads_stations"/>
            </div>
            </div>
      </div>      
      <div role="tabpanel" class="tab-pane" id="punchcard">
          <div>{{#=LOAD('data','get_stations', ajax=True)}}</div>
      </div>
      <div role="tabpanel" class="tab-pane active" id="grafici">
        <div id='select_data'>{{=LOAD('data','get_stations', ajax=False)}}</div>
        <div class="container-fluid data-content">
            <div class='row'>
                    <div class='col-md-2' id='sidebar_console'>
                    </div>
                    <div class='col-md-10' id='chart_space'>
                    <div id="compare_chart"  style="height:370px"> </div>
                    </div>
            </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="dati">
          <div>{{#=LOAD('data','get_stations', ajax=True)}}</div>
      </div>            
  </div>
  </div>
</div>
<script>
    $.web2py.trap_form("", 'select_data');
    $.web2py.ajax_init('');
    url_get_data = '{{=URL("data", "get_data.json")}}'
    timezoneJS.timezone.zoneFileBasePath = '{{=URL('vtraffic', 'static/js', 'tz')}}';
    var options_console = { 
        xaxis: { 
		    mode: "time", timezone: "Europe/Rome", alignTicksWithAxis:true,
		    dayNames: ['{{=T('Sun')}}', '{{=T('Mon')}}', '{{=T('Tue')}}', '{{=T('Wen')}}', '{{=T('Thu')}}', '{{=T('Fri')}}', '{{=T('Sat')}}'] 
	    },
	    yaxis: { position: 'left', zoomRange: false, panRange: false,},
	    addDynamically: true,
	    series:{ lines: { show: true, fill: false },
			     points: { show: true },
			     bars: {show: false},
	    },
	    crosshair: { mode: "x" },
    }
    var plot_console = new lplot('compare_chart', options_console);
    var reload_interval;
    var map = L.map('map').setView([46.070091, 11.119763], 10);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    var l_cleanroads = L.tileLayer.betterWms("{{=URL('default', 'wms')}}", {
        layers: 'edi:cleanroads_stations',
        transparent: true,
        attribution: "",
        format: 'image/png',
    }).addTo(map);
    
    var startDate = moment().subtract('days', 29);
    var endDate = moment();
    var datapickler_option = {
        startDate: startDate,
        endDate: endDate,
        minDate: '01/01/2012',
        maxDate: '12/31/2015',
        dateLimit: { months: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: true,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            'Last 2 hours': [moment().subtract('hours', 2), moment().add('days', 1)],
            'Today': [moment({hour: 00, minute: 00}), moment()],
            'Yesterday': [moment({hour: 00, minute: 00}).subtract('days', 1), moment({hour: 23, minute: 59}).subtract('days', 1)],
            'Last 7 Days': [moment().subtract('days', 6), moment().add('days', 1)],
            'Last 30 Days': [moment().subtract('days', 29), moment().add('days', 1)],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        opens: 'left',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'MM/DD/YYYY',
        separator: ' to ',
    };
    var date_set = function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        startDate = start;
        endDate = end;
        plot_console.reload_all();
    }
    pickler = $('#reportrange').daterangepicker(datapickler_option, date_set);
    
    $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    $('#reportrange').on('show', function() { console.log("show event fired"); });
    $('#reportrange').on('hide', function() { console.log("hide event fired"); });
    $('#reportrange').on('apply', function(ev, picker) { 
    console.log("apply event fired, start/end dates are " 
                  + picker.startDate.format('MMMM D, YYYY') 
                  + " to " 
                  + picker.endDate.format('MMMM D, YYYY')
                ); 
              });

</script>
