{{extend 'layout.html'}}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="#mappa" aria-controls="mappa" role="tab" data-toggle="tab">Mappa</a></li>
    {{if request.vars.dev:}}
    <li role="presentation" class=""><a href="#grafici" role="tab" data-toggle="tab">Grafici</a></li>
    <li role="presentation" class="active"><a href="#punchcard" role="tab" data-toggle="tab">Punchcard</a></li>
    {{pass}}
    <!--li role="presentation"><a href="#dati" aria-controls="punchcard" role="tab" data-toggle="tab">Dati</a></li-->
  </ul>

  <!-- Tab panes -->
  <div class="container-fluid box">
  <div class="tab-content row">
      <div role="tabpanel" class="tab-pane container-fluid" id="mappa">
        {{include 'default/map.html'}}
      </div>      
      <div role="tabpanel" class="tab-pane active" id="punchcard">
          {{include 'default/punchcard.html'}}
      </div>
      <div role="tabpanel" class="tab-pane " id="grafici">
        {{include 'default/console.html'}}
      </div>
      <!--div role="tabpanel " class="tab-pane" id="dati">
      </div-->
  </div>
  </div>
</div>
<script>
    $.web2py.ajax_init('');

    // Avoid to insert the same station two times
    $(document).on('click', '.tab-pane .form-inline .btn-success', function(e){
        form = $(this).parents('form')[0];
        tab_id  = $($(this).parents('.tab-pane')[0]).attr('id');
        val = $('select', form).find(":selected").val();
        obj = $('#' + tab_id + '_list_' +val);
        if ((! val) || (obj.length) ){
            e.preventDefault()
            e.stopImmediatePropagation();
            fix_dynamic_accordion('#sidebar_console');
            obj.addClass('in');
        }
    });

</script>
