{{extend 'layout.html'}}
<div class="row">
<div id="web2py_user_form">
<img src="/vtraffic/static/images/logo.jpg"></img>

{{=form.custom.begin}}
<div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    {{=form.custom.widget.username}}
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    {{=form.custom.widget.password}}
    </div>
  <div class="form-group">
  <div class="checkbox">
    <label>
        <input class="" id="auth_user_remember" name="remember" type="checkbox" value="on"> Remember me
    </label>
  </div>
    <button class="btn btn-large btn-primary " type="submit">Sign in</button>

{{=form.custom.end}}


</div>
</div>
