{{extend 'layout_login.html'}}

            <div class="lang round" id="lang-round" style="float:right">
                            <span class="round" id="round-first">EN</span>
                                <ul class="round">
                                    <li><a href="#" id="round-second">IT</a></li>
                                    <li><a href="#" id="round-third">DE</a></li>
                                </ul>
            </div>
            <div id="login-form">
                {{=form.custom.begin}}
                    <h1><img src="{{=URL('static','images/logo-bzanalytics.png')}}" /></h1>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="icon-user"></span>{{=form.custom.widget.username}}
                        </div>
                        <div class="input-group">
                               <span class="icon-pwd"></span>{{=form.custom.widget.password}}
                        </div>
                        <button class="btn-login" type="submit">Login</button>
                        <p id="pwd-remember"><a href="{{=URL(args='retrieve_password')}}" tkey="forgot-password" >Forgot your password?</a></p>
                    </div>     
                {{=form.custom.end}}
            </div>
        </div>
<script>jQuery(document).ready(function()
{jQuery('.flash').delay(8000).fadeOut();});</script>
