{{extend 'layout_login.html'}}

            <div class="lang round">
                <span class="round">IT</span>
                <ul class="round">
                    <li><a href="#">DE</a></li>
                    <li><a href="#">EN</a></li>
                </ul>
            </div>
            <div id="login-form">
                {{=form.custom.begin}}
                    <h1><img src="{{=URL('static','images/logo-bzanalytics.png')}}" /></h1>
                    <div class="form-group">
                         <p style="color:#fff;;font-size: 16px;">New Passowrd</p>
                        <div class="input-group">
                            <span class="icon-pwd"></span>{{=form.custom.widget.new_password}}
                        </div>
                        <label style="color:#fff;;font-size: 16px; ">Confirm Password</label>
                        <div class="input-group">
                            <span class="icon-pwd"></span>{{=form.custom.widget.new_password2}}
                        </div>
                        <button class="btn-login" type="submit">Submit</button>
                    </div>     
               {{=form.custom.end}}
            </div>
