{{extend 'layout_login.html'}}

           <div class="lang round">
                <span class="round">IT</span>
                <ul class="round">
                    <li><a href="#">DE</a></li>
                    <li><a href="#">EN</a></li>
                </ul>
            </div>
            <div id="login-form">
                {{=form.custom.begin}}
                    <h1><img src="{{=URL('static','images/logo-bzanalytics.png')}}" /></h1>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="icon-user"></span>{{=form.custom.widget.username}}
                        </div>
                        <button class="btn-login" id="submit" type="submit">Submit</button>
                    </div>     
               {{=form.custom.end}}
            </div>
