<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="{{=T.accepted_language or 'en'}}">

  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BZAnalytics</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->

    <link  href="{{=URL('static','css/standard_login.css')}}" rel="stylesheet" type="text/css" />

    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <script>var url_multilanguage="{{=URL('static','js/jquery-multilang')}}"</script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_login_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <main id="login">
        {{block center}}
        {{include}}
        {{end}}
     </main>
    {{block footer}} <!-- this is default footer -->
   <footer id="footer-2" class="footer-2">
            <div class="aux" style="width:100%">
                <div class="aux2" style="padding-right:35px">
                    <ul>
                        <li class="eu"><a href="http://ec.europa.eu/environment/life/" target="_blank"></a></li>
                        <li class="integreen"><a href="http://www.integreen-life.bz.it/it/" target="_blank"></a></li>
                        <li class="bz"><a href="http://www.comune.bolzano.it/" target="_blank"></a></li>
                        <li class="tis"><a href="http://tis.bz.it/" target="_blank"></a></li>
                        <li class="ait"><a href="http://www.ait.ac.at/" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="text" style="padding-left:25px">
                    <p><span tkey="source-code-licensed">Codice licenziato sotto</span> <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU Affero General Public License</a> <span tkey="published-on">pubblicato su</span> <a href="https://github.com/tis-innovation-park/BZtraffic" title="BZ-Traffic" target="_blank">github</a><br>Powered by <a href="http://www.ethicalsoftware.it" target="_blank">Ethical Software</a> | Designed by <a href="http://www.madeincima.it" target="_blank">Madeincima</a></p>
                    <p><span tkey="contact">Contatto</span>: project [at] integreen-life.bz.it</p>
                </div>
            </div>
        </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script>
        $(function() {
            $( "#round-first" ).click(function() {
                setTimeout(function(){ if($(".round li").is(":visible")){$("#round-first").trigger( "click" );}}, 12000);
            });
        });
     </script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>

    {{pass}}
    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/jquery-multilang/lang_login.js')}}"></script>
    <script src="{{=URL('static','js/utility.js')}}"></script>
  </body>
</html>
