<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head> 
  <title>Map Clean-roads</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

<!--[if lte IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
  <link href="{{=URL('static','css/standard.css')}}" rel="stylesheet" media="screen,projection,print" type="text/css" />
  <link href="{{=URL('static','css/web2py_bootstrap.css')}}" rel="stylesheet" media="screen,projection,print" type="text/css" />
  {{include 'web2py_ajax.html'}}
  {{#include 'metadata.html'}}
</head>
<!--  ng-cloak -->
<body>
	<header class="header" id="header">
		<div class="aux mastheader">
		<!--h1 class="logo" id="logo"><a href="{{=URL('default','index', host=True)}}"><img src="{{=URL('static','images/logo-bolzano-parking.png')}}" alt="Bolzano Parking Beta" /> <span class="alt">Bolzano Parking</span></a><a href="" class="beta round">Beta</a></h1-->
		<h1>Cleanroads</h1>
			<!--div class="lang round">
				<span class="round">{{=T.accepted_language.split('-')[0]}}</span>
				{{ll=['it','en','de']}}
				{{ll.remove(T.accepted_language.split('-')[0])}}
				<ul class="round">
				    {{for l in ll:}}
					<li><a href="{{=URL(language=l)}}">{{=l.upper()}}</a></li>
					{{pass}}
				</ul>
			</div-->
		</div>
    </header>
    <main id="main" class="main">
        <div class="aux">			
			<!--div class="actions">
     			{{=LOAD('default','get_times', ajax=True, _class='time')}}
     			<div class="notice-time">{{=T('Previsione aggiornata alle')}} <span class='msg'></span></div>
				<div class="switcher controls box round">
					<ul>
						<li><a href="{{=URL('default', 'index')}}" class="grid {{='active' if request.function != 'map' else ''}}">Visualizzazione griglia</a></li>
						<li><a href="{{=URL('default', 'map')}}" class="map {{='active' if request.function == 'map' else ''}}">Visualizzazione mappa</a></li>
					</ul>	
				</div>
				<div class="other controls box round">
					<ul>
						<li><a href="#" id="updateall" class="update">Aggiorna i dati <div class="updating-s round"></div></a></li>
					</ul>	
				</div>
				<div class="notice notice-update round">Dati aggiornati!</div>
			</div-->	
        {{include}}
        </div>
    </main>
  
  
   <a href="https://github.com/ilvalle/cleanroads" id="github">Fork me on GitHub</a>
<!--script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59614679-1', 'auto');
  ga('send', 'pageview');

</script--> 

</body>
</html>
